/* * {
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
} */

.index-container {
  width: 70%;
}

.apartado {
  width: 30%;
}

.gallery {
  padding-bottom: 3em;
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 160px;
  grid-template-areas:
    "img1 img1 img2 img3"
    "img1 img1 img4 img4"
    "img5 img5 img6 img7"
    "img5 img5 img8 img8";
  gap: 0.8em;
}

.gallery__picture {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

/* .gallery__picture::before{
    content: "hola mundo";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-attachment: #000;
    transform: translate(100%);
    transition: transform .4s;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
}

.gallery__img:picture::before{
    transform: translate(0);
}
 */

.gallery__picture--g4 {
  grid-area: img1;
}

.gallery__picture--g2 {
  grid-area: img2;
}

.gallery__picture--g1 {
  grid-area: img4;
}

.gallery__picture--g3 {
  grid-area: img7;
}

.gallery__picture--g5 {
  grid-area: img5;
}

.gallery__picture--g6 {
  grid-area: img6;
}

.gallery__picture--g7 {
  grid-area: img3;
}

.gallery__picture--g8 {
  grid-area: img8;
}

.gallery__img {
  width: 100%;
  height: 100%;
  transition: 1s;
  object-fit: cover;
}

.gallery__img:hover {
  transform: scale(1.2);
  transition: 1s;
}

/* .apartado {
  margin: 1rem;
  padding: 0.3rem;
  box-sizing: border-box;
  border-radius: 20px;
} */
